@{
    ViewData["Title"] = "Strona Startowa";
}

<section class="section">
    <div class="section-div">
        <div class="section-div-left">
            <h6 class="h6-text"><em>Jesteś głodny?</em></h6>
            <h1 class="h1-text">Nie czekaj!</h1>
            <button class="button1">
                <a class="a-link" asp-area="" asp-controller="Home" asp-action="Menu">Zamów teraz</a>
            </button>
        </div>
        <div class="section-div-left">
            <img src="~/images/hero-pizza.png"/>
        </div>
    </div>
</section>

